* {
	padding: 0px;
	margin: 0px;
	
}

body{
	font-size: 100%;
}

h1 {
	font-size: 250%;
	font-family: bebas;
	font-weight: 100;
}

#logo {
	font-family: bebas;
	
	font-size: 400%;
	padding: 5px;
	margin: 0px;
	text-align: center;
}


/*SECTION STYLES*/
.blue-text{
	color: #45AAFF;
}

.blue {
	background-color: #45AAFF;
	
}

.grey{
	background-color: #363636;
}

.content{
	width:70%;
	margin-right: auto;
	margin-left: auto;

}

.content img {
	width: 400px;
	height: auto;
}

.right-image, .left-image{
	padding-top: 28px;
	padding-left: 20px;
	margin: auto;
	float: right;	
}

.left-text, .right-text{
	padding-top: 120px;
	padding-bottom: 120px;
	color: white;
	clear: left;
}
.left-text a, .right-text a{
	color: white;
}

.left-image{
	float: left;
	padding-right: 20px;
	margin-right: 20px;
}

.right-text{
	clear: right;
	padding-left: 20px;
	margin-left: 20px;
}
/*END SECTION STYLES*/


/*NAV STYLES*/
#nav {
	background-color: #363636;
	padding-top: 17px;
	padding-bottom: 17px;
	text-align: center;
}

#nav ol li{
	display: inline;
	padding: 0px;
	margin: 0px;
	font-family: Verdana, sans-serif;

}

#nav ol li a{
	color: white;
	padding-top: 17px;
	padding-bottom: 18px;
	padding-left: 10px;
	padding-right: 10px;
	margin-right: 0;
	margin-left: 0;
	text-decoration: none;
}

#nav ol li a:hover{
	background-color: #45AAFF;
	text-decoration: underline;
}
/*END NAV STYLES*/


/*BANNER STYLES*/
#banner-image{
	position: relative;
	font-size: 500%
}


#banner-image img{
	
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
	height: auto;
}

#banner-image h2{
	top: 15%;
	left: 5%;
	position: absolute;
	font-family: bebas;
	color: white; 
	font-weight: 100;
}
/*END BANNER STYLES*/




/*IMPORT FONT-FACE*/
@font-face{
	font-family: 'bebas';
	src: url(BebasNeue.otf);
}


/*SMALLER SCREEN ADJUSTMENTS*/
@media screen and (max-width: 1100px) and (min-width: 750px)  {
    #banner-image h2{
    	font-size: 100%;
    }
}

@media screen and (max-width: 750px) {
    #banner-image h2{
    	font-size: 50%;
    }
	#nav a{
		font-size: 80%;
		padding: 0px;
		margin: 0px;
	}

	#nav ol li a:hover{
		background: none;
		color: white;
		text-decoration: underline;
	}
}

